{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="h3 mb-3 font-weight-normal">DateCalendarEntrainement</h1>
    {{ form_start(form) }}
    {{form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block title %}
Sélections des saison d'entrainement.
{% endblock %}