{% extends 'base.html.twig' %}

{% block title %}Edit Groupe{% endblock %}

{% block body %}
    <h1>Edit Groupe</h1>

    {{ include('groupe/formadd.html.twig', {'button_label ': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('groupe_index') }}">return to list</a>

{% endblock %}