{% extends 'base.html.twig' %}

{% block title %}New Groupe{% endblock %}

{% block body %}
    <h1>Create new Groupe</h1>

    {{ include('groupe/formAdd.html.twig') }}

    <a href="{{ path('groupe_groupeIndex') }}">back to list</a>
{% endblock %}