{% extends 'base.html.twig' %}

{% block title %}Groupe{% endblock %}

{% block body %}
    <h1>Groupe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{TireurGroupe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ TireurGroupe.Nom }}</td>
            </tr>
        </tbody>
    </table>

    
    <a class="btn btn-primary" href="{{ path('groupe_index') }}">back to list</a>

{% endblock %}