/*Bootstrap project on https://bootstrap.build/app/project/StgPKlEhuaWV */

body{
	padding: 0px;
	margin: 0px;
}

:root {
  --nav-heigth: 40px;
}

/* NAVBAR */

.container_nav .navbar{
	height: var(--nav-heigth);
}

/* BODY */
.container_body{
	z-index: 800;
	position: absolute;
	top: calc(var(--nav-heigth) + 15px);
	width: 100%;
}

.logoSized{
	display: block;
	margin: auto;
	margin-bottom: 20px;
	height: 200px;
}

.btn, .required, .card{
	margin: 5px auto;
}

