/*Bootstrap project on https://bootstrap.build/app/project/StgPKlEhuaWV */

body{
	padding: 0px;
	margin: 0px;
}

:root {
  --nav-heigth: 40px;
}

/* NAVBAR */

.container_nav .navbar{
	height: var(--nav-heigth);
}

/* BODY */
.container_body{
	z-index: 800;
	position: absolute;
	top: calc(var(--nav-heigth) + 15px);
	width: 100%;
}

.logoFade{
	
}