{% extends 'base.html.twig' %}

{% block title %}New UserObjectifs{% endblock %}

{% block body %}
    <h1>Create new UserObjectifs</h1>

    {{ include('user_objectifs/form.html.twig') }}

    <a href="{{ path('objectifs_index') }}">back to list</a>
{% endblock %}