{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="h3 mb-3 font-weight-normal">Sélections d'une saison pour les competitions</h1>
    {{ form_start(form) }}
    {{form_widget(form) }}
    {{ form_end(form) }}

	{% if not is_granted('ROLE_ADMIN') %}
		<script type="text/javascript">
				document.getElementById("date_calendar_competition_Ajout").style.display = "none";		
		</script>
	{% endif %}
{% endblock %}

{% block title %}
Competitions
{% endblock %}