{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="h3 mb-3 font-weight-normal">Sélections d'une saison pour les competitions</h1>
    {{ form_start(form) }}
    {{form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block title %}
Competitions
{% endblock %}